<!DOCTYPE html>
<html>
   <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113720219-1"></script>
      <script>
        window.dataLayer=window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-113720219-1');
      </script>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {{#homepage}}
        <meta content='Best place to check prices and news of various cryptocurrencies Bitcoin (BTC), Ethereum (ETH), Litecoin(LTC), Ripple(XRP), Bitcoin Cash (BCH) and other cryptocurrencies in India' name='description'>
      {{/homepage}}
      {{^homepage}}
        <meta content='Best place to check prices and cryptocurrency news of {{name}} {{coin}}' name='description'>
      {{/homepage}}
      <meta content='width=device-width' name='viewport'>
      <meta content='yes' name='apple-mobile-web-app-capable'>
      <meta content='crypto, cryptocurreny, news, neo, omg, coinbase, koinex, unocoin, usd, inr, eth inr, eth/inr, ethereum inr price, ethereum india, buy and sell ether in india, eth price in inr, ether india, ether INR, ether exchange india, ethereum exchange india, ether exchange india, buy ether india, sell ether india, buy ethereum india, sell ethereum india, ether inr, ether coin india, ether coin inr, ether to inr conversion, ethereum to inr conversion, inr to ether, inr to ethereum, buy ether coin, sell ether coin, buy ethereum coin, sell ethereum coin, buy ethereum token, sell ethereum token, bitcoin exchange delhi, bitcoin exchange india,bitcoin india buy bitcoin india, sell bitcoin india, btc inr,bitcoin, buy bitcoin, sell bitcoin, buy bitcoin india, sell bitcoin india, bitcoin india, bitcoin wallet india, store bitcoin india, buy bitcoin inr, sell bitcoin inr, send bitcoin, send bitcoin india, receive bitcoin, receive bitcoin india, bitcoin price, btc price in inr, bitcoin india, Bitcoin INR' name='keywords'>
      <title>Koincontrol</title>
      <link rel="stylesheet" href="{{domain}}/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="{{domain}}/css/font-awesome.min.css">
      <link rel="stylesheet" href="{{domain}}/css/dashboard.css">
      
   </head>
   <body>
     {{{body}}}

      <script type="text/javascript" src="{{domain}}/js/currency.js"></script>
      <script type="text/javascript" src="{{domain}}/js/kc.js"></script>
      <script type="text/javascript" src="{{domain}}/js/jquery.min.js"></script>
      <script type="text/javascript" src="{{domain}}/js/moment.js"></script>
      <script type="text/javascript" src="{{domain}}/js/Chart.min.js"></script>
      <script type="text/javascript" src="{{domain}}/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="{{domain}}/js/popper.min.js"></script>
      <script type="text/javascript">
        jQuery(document).ready(function(){
          onLoadData('{{coin}}','{{name}}','1');
          if (jQuery(window).width() < 900) {
            $('#toggler').show();
          }else{
            $('#toggler').hide();
          }
        });
      </script>
   </body>
</html>